*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav{
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
}

.nav-right{
    display: flex;
    align-items: center; 
   
}
.apps-icon{
    padding-left: 20px;
    color:#555;
    cursor: pointer;
}
.nav a{
    margin-left: 15px;
    text-decoration: none;
    /*color: #555;*/
    font-size: 14px;
}

.sign-btn{
    margin-left: 15px;
    padding: 8px 20px;
    background-color: #1a43e8;
    color:white;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
.sign-btn:hover{
    background-color:#3a5dfc;
}

.logo{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 270px;
    margin-bottom: 20px;
}

.search-box input{
    width: 550px;
    justify-content: center ;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;

}

.search-box{
    position: relative;
    width: 550px;
}

.search-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #9aa0a6;
    font-size: 20px;
}

.icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 27px;
    cursor: pointer;
}

.mic{
    right: 45px;
}

.cam{
    right: 15px;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 10px; 
}

.buttons{
    margin-top: 20px;
}

.buttons button{
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    background: #f0f3f5;
    cursor: pointer;
    border-radius: 5px;
    border:none;
}

.buttons button:hover{
    background-color: #cacbcb;
}

.Lang{
    margin-top: 15px;
    font-size: 14px;
}

.footer{
    background-color: #f2f2f2;
    font-size: 14px;;
}

.footer-top{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer a{
    margin-right: 15px;
    text-decoration: none;
    color: #555;
}

.terms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.terms-img img{
    width: 650px;
    max-width: 90%;
    height: auto;
    margin-bottom: 40px;
}

.terms-content {
    max-width: 800px;
}

.terms-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.terms-content h2 {
    margin-top: 30px;
}

.terms-content p {
    margin-top: 10px;
    color: #444;
    line-height: 1.6;
}

.date a {
    color: #1a73e8;
    text-decoration: none;
}

