<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet"/>
    {% block extra_css %}  {% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />   
 <title>{% block title%}  {% endblock %}</title>
</head>

<body>
    <nav class ="nav">
        <div class ="nav-right">
            <a href="">Gmail</a>
            <a href="">Images</a>
            <span class="material-symbols-outlined apps-icon">apps</span>
            <a href="#" class="sign-btn"> Sign in</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
    
    <footer class="footer">
        <div class="footer-top">
            Saudi Arabia
        </div>

        <div class="footer-bottom">
            <div class="left">
                <a href="#">About</a>
                <a href="#">Advertising</a>
                <a href="#">Business</a>
                <a href="#">How Search Works</a>
            </div>
            <div class="right">
                <a href="#">Privacy</a>
                <a href="{% url 'main:terms_view' %}">Terms</a>
                <a href="#">Settings</a>
            </div>
        </div>
    </footer>
</body>
</html>